.chat-popup {
  .chat-popup__header {
    color: #000;

    .chat-popup__header__icon {
      font-size: 16px;
      &.chat-popup__header__icon--primary {
        color: red;
        &:hover {
          opacity: 0.5;
        }
      }

      &.chat-popup__header__icon--info {
        color: green;
      }
    }
  }
}

// style: primary, warning, danger, info
// size: sm, md, lg, xl
// shape: circle, square, rectange, ...
.btn {
  .-primary {}
  .-warning {}

  .-sm {}
  .-lg {}


}

